
@{
    ViewBag.Title = "Second Task";
}

<h2>Use Razor syntax</h2>
@{
    string firstname = Request.Form["firstname"];
    string lastname = Request.Form["lastname"];
}
<form action="" method="post">
    <fieldset>
        <legend>Razor</legend>
        First Name:
        <input type="text" name="firstname" placeholder="First Name" value="@firstname" />
        <br>
        Last Name:
        <input type="text" name="lastname" placeholder="Last Name" value="@lastname" />
        <br>
        <input type="submit" value="Submit" /> <br />
        @{
            //if (firstname != string.Empty && lastname != string.Empty)
            if (firstname != "" && lastname != "")
            {
                <text>
                    The name you entered was: <br />
                    Full Name: @firstname @lastname
                </text>
            }
        }
    </fieldset>
</form>
<br />
<div>
    @Html.ActionLink("Back to Content", "Index")
</div>


